{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
			{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>ID</td>
						<td>{{lang_order_id}}</td>
						<td>{{lang_status}}</td>
						<td>{{lang_error}}</td>
					</tr>
				</thead>
				<tbody>
					{% if items %}
						{% for i in items %}
							<tr>
								<td>{{i.id}}</td>
								<td><a href="{{i.order_url}}">{{i.order_id}}</a></td>
								<td>
									<i class="fa fa-{{i.success ? 'check-circle' : 'exclamation-circle' }}" style="color: {{ i.success ? 'green' : 'red' }}"></i>
									<span>{{i.success ? lang_success : lang_failed }}</span>
								</td>
								<td>{{i.error}}</td>
							</tr>
						{% endfor %}
					{% else %}
					<tr>
						<td colspan="4">{{lang_no_data}}</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
		{{pagination}}
	</div>
</div>
{{ footer }}
